ENVIRONMENT=production
DATABASE_URL=postgresql+psycopg2://mediaforge:mediaforge-change-me@db:5432/mediaforge
REDIS_URL=redis://redis:6379/0
CELERY_BROKER_URL=redis://redis:6379/0
CELERY_RESULT_BACKEND=redis://redis:6379/1
LLM_PROVIDER=OLLAMA
GROQ_API_KEY=
OLLAMA_BASE_URL=http://host.docker.internal:11434
JWT_SECRET_KEY=b08378fb7e694ddce89aeba7e72d8df7399603ba46bf29fd75d681785153af1d059ecc8695994fec07d455f48a43850ed2791cd328c62a49b76f696539ce1d19
JWT_ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=60
CORS_ORIGINS=["http://localhost:5173","http://127.0.0.1:5173"]
